body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-color: #e1e9f6;
}

h1 {
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: rgb(14, 22, 51);
    margin: none;
    font-weight:bolder;
}

.navbar a {
    float: left;
    color: rgba(204, 223, 203, 0.753);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #87a6d0;
    color: white;
}

.content {
    margin: 30px;
}

h2 {
    font-weight: normal;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    background-color: rgb(145, 145, 145);
    color: aliceblue;
    font-size: larger;
    padding: 5px;
}

th {
    border: 1px solid whitesmoke;
    padding: 5px;
    background-color: black;
    color:aliceblue;
    font-size: larger;
}

input, button, option, select {
    padding: 10px;
}

.btn {
    padding-left: 20;
}

.center {
    display: flex;
    justify-content: center;
}

.center p {
    font-size: 25px;
}

#search-field {
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2%;
    border-color:#333;
    border-radius: 2px;
    background-color: rgb(62, 56, 78);
}

.advanced-button {
    text-align: center;
    margin-left: 47%;
    padding: auto;
}

.advanced-search {
    text-align: center;
    margin-top: 10px;

}

.advanced-title {
    text-align: center;
}

.intro {
    margin-right: 10%;
    margin-left: 10%;
}