<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>  
</head>

<body>
<!-- Navigation bar at top of page -->
    <div class="navbar">
        <a class="active" href="/">Home</a>
        <a href="/mytable-page">Custom Table</a>
        <a href="/about-page">About</a>
    </div>

<!-- Section of code to provide brief explanation of application -->    
    <div id="content">
        <h1>My Vacation Planner</h1>
        <p>&nbsp;</p>
        <h2>
            Please select one of our popular vacation destinations to learn more about where you may like to visit!
            If you don't know where you want to go, be adventurous and select random. Upon selection, information
            on some of our favorite vacation destinations will be displayed. Hopefully we can help you find your
            next vacation destination with the simple click of a button! <br><br>
            For more detailed information on how it all works please select <a href="/about-page">here</a> or simply click
            the about tab in the navigation bar up top.
        </h2>
    </div>

<!-- Search bar to populate table information which includes name, description and image of location -->
    
    <div id="search-field">
        <div class="center" style="display:none">
            <p>Select a Popular Destination From the Dropdown to Obtain information <br></p>
        </div>
        
        <div class="center" style="display:none">
            <form id="search-destination" method='GET' action="/show-table">
                <label for="input-destination">Find a Location: </label>
                <select name="input-destination" id="destination-select">
                    <option value="test">Select a Destination</option>
                    <option value="0">Canada</option>
                    <option value="1">Mexico</option>
                    <option value="0">USA</option>
                    <option value="0">Bermuda</option>
                </select>

                <!-- Render table below with current drop-down selection -->
                <input type="submit">
                <!-- Select random value from drop-down and return result -->
                
            </form>    
        </div>
    </div>

    <script>console.log(`${input-destination}`)</script>

    <!-- Clear table/prompt user to ask if they are sure they want to continue -->
    <button  title="Clear the table and start from scratch!" onClick="clearTable()">Clear Result</button>
</body>

<script src="./js/home-showtable.js"></script>