<head>
    <title>About Page</title>
    <link rel="stylesheet" href="style.css">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>  
</head>

<body>
<!-- Navigation bar at top of page -->
    <div class="navbar">
        <a class="active" href="/">Home</a>
        <a href="/mytable-page">Custom Table</a>
        <a href="/about-page">About</a>
    </div>

    <h2 class="intro">
    The vacation planner application uses a database of popular locations to provide the user with quick/accessible information on<br>
    the specified location. <br><br>
    Each selection will provide the user with a quick link to wikipedia to discover more about the selected destination. <br><br>
    The randomize functionality uses a random number generator in the code to randomly pick from one of the many locations. The <br>
    goal is to hopefully spark your interest in a destination that you may otherwise not have been thinking about visiting! <br><br>
    The advanced functionality uses a different approach in that it does not use a database to obtain the information. It instead uses <br>
    a scraping technique to obtain the information from wikipedia and returns the first paragraph of the wikipedia page for your desired location <br>
    This has an advanatage in that you can search anything, however if you misspell or select a location that isn't a town/city/country you will <br>
    still be provided with information.
    </h2>