<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>  
</head>

<body>
<!-- Navigation bar at top of page -->
    <div class="navbar">
        <a class="active" href="/">Home</a>
        <a href="/mytable-page">Custom Table</a>
        <a href="/about-page">About</a>
    </div>

    <div class="advanced-title">
        <h1>ADVANCED SEARCH</h1>
        <br><br>
        <h2>Search for any location, accuracy not guaranteed but hey, you aren't living unless you're tinkering</h2>
    </div>

    <div class="advanced-search">
        <form action="/show-table" method="GET">
            <input type="text">
            <input type="submit">
        </form>
    </div>
    
</body>